<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>just playing around</title>
         <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
         });
         </script>
        <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    </head>
    <body>
    <header><h1>{{title}}</h1></header>
        <section>
            <p>Lorem ipsum dolor sit amet, eu sonet decore quo, has
            ex debet gloriatur. Ne pro justo oportere similique,
            liber docendi has ea. Sea te nibh sonet, et errem
            dictas praesent qui. Et mea dicant utamur
            argumentum.</p>
            <p>{{text}}</p>
            </section>>
        <section>
            <img src={{source}}  height="130" width="205"/>
        </section>
    <input type="Submit" />
    <form> </form>

    </body>
</html>