<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='shortcuticon.jpg') }}">
    <title>Linear Algebra Project</title>
     <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
         });
    </script>
    <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>

<body style="background-color: rgba(215, 252, 204, 0.32);"> <div id="container">
<h1 style="color: white; background-color: #017c57; border-radius: 10px; text-align: center;"> We make calculations easier </h1>
    <div id="for_form" style="border-radius: 10px; padding-top:10%; background-color: rgba(215, 252, 204, 0.32); " >
    <div id="for_matrix" style="width: 40%;background-color: #6fdb99; border-radius: 10px;">
    <form id='matrix' method="post" action="/" style="border-radius: 10px;"  >
        <div style="margin-left: 5%; ">
            <label for='matrix'> <h2>Type your matrix in here:</h2> <p><i>(Please use digits only)</i></p> </label> <br/>

            <textarea name="matrix" rows="6" style="width: 150px; height: 150px; font-size: 16px; border-radius: 10px; "></textarea>
        </div>
            <br>

                 <textarea name="vB" rows="6" style="width: 50px; height: 150px; font-size: 16px; margin-left: 65px; border-radius: 10px;" ></textarea>

         <input type="submit" value="Let's calculate">

    </form>







</div>
    </div>
    <p> {{solution}} </p>
    <p> \begin{matrix} 1 & 2 & 3 \\ 4 & 5 & 6 \end{matrix}</p>>
    <p> {{message}}</p>

</div>
</body>

</html>